/* Custom Section Heading */
.heading-left {
  text-align: left;
  background-color: #212529;
  color: floralwhite;
  width: 50%;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 5px;
}
.heading-center {
  text-align: center;
  padding: 15px 0;
  color: floralwhite;
}
.heading-center h1 {
  background-color: #212529;
  width: 50%;
  margin-left: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 8px;
  border-radius: 18px;
}
.heading-right {
  text-align: right;
}

/* Navbar */
.navbar a i {
  color: #eb5e28;
}

.navbar-nav .nav-item .nav-link {
  font-weight: bold;
  transition: 0.5s;
  margin-right: 40px;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #eb5e28;
}

/* Jumbotron ID Hero | Reference from previous rockback style for jumbotron.*/
.jumbotron {
  background-image: url(../images/drone-operator.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.jumbotron-content {
  width: 70%;
  color: floralwhite;
}

.jumbotron-content p {
  font-weight: 400;
}

.jumbotron-content span {
  color: #eb5e28;
  font-weight: 400;
}

/* About and Contact Section*/
.about-contact-card {
  border: 0;
}
.card-body .contact {
  text-decoration: none;
  color:#212529;
  font-size: 18px;
  transition: 0.5s;
  cursor: pointer;
}
.card-body .contact:hover {
  color: #eb5e28;
}
.card-body i {
  font-size: 18px;
}

/* Projects Section Styling */
.carousel-caption {
  background-color: rgba( 0, 0, 0, 0.7);
  border-radius: 10px;
  color: floralwhite;
}

.card-body .project-btn{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-body .card-title {
  text-align: center;
}


