/* Container Style */
.container {
  margin-top: 30px;
}

/* Navbar */
.navbar a i {
  color: #eb5e28;
}

/* Custom Section Heading */
.heading-left {
  text-align: left;
  margin: 30px 0;
}
.heading-center {
  text-align: center;
  margin: 30px 0;
}
.heading-right {
  text-align: right;
  margin: 30px 0;
}

/* About and Contact Section*/
.about-contact-card {
  border: 0;
}

.card-body a {
  text-decoration: none;
  color:#212529;
  font-size: 18px;
  transition: 0.5s;
  cursor: pointer;
}

.card-body a:hover {
  color: #eb5e28;
}
.card-body i {
  font-size: 18px;
}